{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content
%}

<div
  class="container mt-5 p-3 rounded shadow"
  style="background-color: #c2d6d6"
>
  <h1>Shopping Cart</h1>
  {% if items %}
  <table
    class="table table-hover table-secondary table-striped p-5 rounded-3 overflow-hidden shadow"
  >
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['quantity'] }}</td>
        <td>${{ item['price'] }}</td>
        <td>${{ item.price * item.quantity }}</td>
        <td>
          <form action="/remove_from_cart/{{ item.id }}" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="d-flex justify-content-between align-items-center">
    <h3>Total: ${{ total_price }}</h3>
    <div class="d-flex gap-2">
      <a href="/checkout" class="btn btn-outline-success shadow"
        >Confirm Purchase</a
      >
      <button
        type="button"
        class="btn btn-outline-secondary shadow"
        data-bs-toggle="modal"
        data-bs-target="#confirmModal"
      >
        Guest Purchase
      </button>
    </div>
  </div>

  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
</div>
{% endblock %}
