{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content
%}

<!-- Alert message, remove for production -->
{% if alert_message %}
<script>
  alert("{{ alert_message }}")
</script>
{% endif %}

<div
  class="container mt-5 p-3 rounded shadow"
  style="background-color: #c2d6d6"
>
  <h1>Shopping Cart</h1>
  {% if items %}
  <table
    class="table table-hover table-secondary table-striped p-5 rounded-3 overflow-hidden shadow"
  >
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['quantity'] }}</td>
        <td>${{ item['price'] }}</td>
        <td>${{ item.price * item.quantity }}</td>
        <td>
          <form action="/remove_from_cart/{{ item.id }}" method="POST">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="d-flex justify-content-between align-items-center">
    <h3>Total: ${{ total_price }}</h3>
    <div class="d-flex gap-2">
      <button
        type="button"
        class="btn btn-outline-success shadow"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        Confirm Purchase
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary shadow"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        disabled
      >
        Guest Purchase
      </button>
    </div>
  </div>

  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
</div>
<!-- Modals -->

<!-- Confirm Purchase Button Modal-->
<!-- Only opens dummy login form for now -->
<div
  class="modal fade"
  id="loginModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Please Log to Continue</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/login">
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3">
            {{ form.email(class="form-control", placeholder="Email Address") }}
            {{ form.email.label(class="form-label") }}
          </div>
          <div class="form-floating">
            {{ form.password(class="form-control", placeholder="Password") }} {{
            form.password.label(class="form-label") }}
          </div>
          <div class="mb-3">
            {{ form.submit(class="btn btn-primary mt-3") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
