{% extends "base.html" %} {% block title %}Checkout{% endblock %} {% block
content %}
<div class="container">
  <div class="py-5 text-center">
    <img
      class="mb-4 d-block mx-auto"
      src="Elevate-Retail logo.jpg"
      alt="Elevate Retail Logo"
      width="100"
      height="100"
    />
    <h2>Payment</h2>
    <p class="lead">Please enter your payment details below.</p>
  </div>
</div>

<div class="container">
  <form action="{{ url_for('cart.process_checkout') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="row my-3 gy-3">
      <div class="col-md-6">
        <label for="fullname" class="form-label"> Name on Card </label>
        <input
          id="fullname"
          name="fullname"
          type="text"
          class="form-control"
          required
        />
        <small class="text-muted">Full name as displayed on card</small>
        <div class="invalid-feedback">Name on card is required.</div>
      </div>
      <div class="col-md-6">
        <label for="c-number" class="form-label"> Number on Card </label>
        <input
          id="c-number"
          name="card_number"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Card number is required.</div>
      </div>
      <div class="col-md-3">
        <label for="c-expire" class="form-label"> Expiration </label>
        <input
          id="c-expire"
          name="expiration"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Expiration is required.</div>
      </div>
      <div class="col-md-3">
        <label for="c-cvv" class="form-label"> CVV </label>
        <input
          id="c-cvv"
          name="cvv"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">CVV is required.</div>
      </div>
    </div>
    <hr class="my-4" />
    <button class="btn btn-primary btn-lg btn-block" type="submit">
      Continue to checkout
    </button>
  </form>
</div>
{% endblock %}
