{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <h1 class="fs-5">Guest Purchase Form</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod assumenda
    possimus officiis, sed soluta laudantium consequuntur in sequi amet odio
    reiciendis commodi, nobis eius nam ratione a animi facere! Accusamus
    laboriosam eveniet, similique sapiente earum nesciunt cumque vero saepe
    corporis ad a delectus? Quidem, unde. Enim odit impedit sed illum iste.
    Esse, et reprehenderit voluptate possimus quidem numquam repudiandae itaque.
    Molestiae aliquam aut assumenda at et, laborum saepe est, maiores odit sunt
    mollitia. Iste dolorum pariatur quod laudantium eaque fugit optio iusto
    maiores placeat saepe amet quas eius dignissimos at possimus voluptas, vel
    sed? Id suscipit animi totam possimus provident magni dolorum enim aliquid
    autem, eos veritatis necessitatibus quo? Ut earum voluptatibus dolorem, non
    nesciunt quaerat, facilis atque dolor vitae pariatur doloremque. Qui, eum
    nemo? Quasi accusantium ea reiciendis quibusdam vitae dolor quas aspernatur
    numquam neque, id at corporis totam, facilis tenetur quos quo? Natus
    dignissimos eveniet vero vel, ipsum exercitationem nemo minima tenetur enim,
    molestias unde reprehenderit, doloribus at. Aliquid repudiandae quo culpa
    quos minima, nisi quam commodi. Nemo cum labore molestiae deleniti officiis
    quibusdam, dolorum voluptate adipisci quis architecto mollitia tempore
    provident itaque beatae voluptatem velit laudantium dolorem sed nam fugiat
    vel, explicabo id. Iusto eligendi quia laboriosam.
  </p>
</div>
{% endblock %}
