{% extends "base.html" %}

{% block title %}Welcome to Elevate Retail{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="container bg-light p-5 rounded">
        <h1 class="display-4">Welcome to Elevate Retail!</h1>
        <p class="lead">Your one-stop shop for all your retail needs.</p>
        <hr class="my-4">
        <p>Explore our inventory, checkout, and purchasing options.xxxx</p>
    </div>
    
    <a class="btn btn-primary btn-lg mt-4" href="/inventory" role="button">Explore Inventory</a>
</div>
{% endblock %}